{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Educa{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Educa</a>
        <ul class="menu">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        
        {% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) =>{
            // DOM loaded
            {% block domready %}

            {% endblock %}
        })
    </script>
</body>
</html>